.car {
  height : 50px;
  top : 0;
  right: calc(100% - 75px);
  width: 75px;
  transition: .5s top, .5s right;
  position: absolute;
  background-color : #45C5B0;
}

div.square {
  float: left;
  position: relative;
  border: solid 2px #555;
  width: 1000px;
  height: 720px;
}

div.panel {
  position: relative;
}